<html>
        <head>
                <link rel="stylesheet" href="styles.css">
        </head>
<body>
    <h1>Update Tasks</h1></br>
    <h1>
            <a href="/inserttask">Insert New Task</a><br>
            <a href="/getalltask">Get All Task</a><br>
            <a href="/deletetask">Delete Task</a><br>
            <a href="/deletecompletedtasks">Delete Completed Tasks</a><br>
            <a href="/updatetaskstatus">Update Task Status</a><br>
            <a href="/insertnewdeveloper">Insert New Developer</a><br>
            <a href="/getalldeveloper">Get All Developer</a><br>
    </h1>
    <form action="/deletecomplete" method="POST">
        <button type="delete">Delete all Completed Tasks</button>
    </form>
</body>
</html>