<html>
    
        <head>
            <style>
                table,th,td {
                    border: 1px solid black;
                }
            </style>
            <link rel="stylesheet" href="styles.css">
        </head>

<body>
    <h1>List Tasks</h1> </br>
    <h1> <a href="/inserttask">Insert New Task</a><br>
        <a href="/getalltask">Get All Task</a><br>
        <a href="/deletetask">Delete Task</a><br>
        <a href="/deletecompletedtasks">Delete Completed Tasks</a><br>
        <a href="/updatetaskstatus">Update Task Status</a><br>
        <a href="/insertnewdeveloper">Insert New Developer</a><br>
        <a href="/getalldeveloper">Get All Developer</a><br>

        

       
    </h1>
    <table>
        <tr> 
            <td>Task ID</td>
            <td>Task Name</td>
            <td>Assign To</td>
            <td>Due Date</td>
            <td>Task Status</td>
            <td>Task Description</td>


        </tr>
        <% for (let i=0;i<usersDb.length;i++){ %>
            <tr>
                <td> <%= usersDb[i].Taskid %> </td>
                <td> <%= usersDb[i].Taskname %> </td>
                <td><%= usersDb[i].Assignto %></td>
                <td><%= new Date(usersDb[i].Duedate).toDateString() %> </td>
                <td> <%= usersDb[i].Taskstatus %> </td>
                <td><%= usersDb[i].TaskDesc %></td>
                
            </tr>
            <%}%>
    </table>
</body>
</html>